.App {
  padding-top: 30px;
}


.number{
  border: 1px solid black;
}
input{
  width: 60%;
  padding: 5px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  background-color:white ;
  
}
input::-webkit-input-placeholder{
  color:lightgray;
}


input:focus::-webkit-input-placeholder {
  color:transparent; 
}

input:focus{
  outline: none;
}

button{
  margin-left: 2px;
  width: 36px;
  height: 36px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  background-color:rgb(255, 255, 255);
  color:rgb(197, 197, 197);
}
button:hover{
  border: 1px solid rgb(153, 153, 153);
  background-color:lightgray;
  color: rgb(136, 136, 136);
  transition: 0.2s;
}

h1 {
  text-align:left;
}