.App {
  padding-top: 25px;
}


.all-screen {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.all-screen>* {
  padding: 15px
}

.task-main {
  height: 830px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.task>* {
  margin: 0;
  padding: 10px;
}



.task-board {
  width: 100%;
  height: 65%;
  padding: 15px;
  background-color: #e4e4e4;
  border-radius: 8px;
  padding-top: 22.5px;

}

.task-list {
  padding: 10px 15px 0 15px;
  background-color: white;
  border-radius: 8px;
  height: 80%;
}

.check {
  font-size: 18px;
  color: #e4e4e4;
}

.task-add {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
}


.phone-main {
  height: 830px;
}


.phone-book {
  width: 100;
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 15px 12.5px 15px 15px;
  padding-top: 22.5px;
}

.phone-save {
  height: 93%;
  position: relative;
  top: -755px;
  background-color: #e4e4e4;
  border-radius: 10px;
  transform: scale(0);
  transition: all 0.25s;
  opacity: 0;
}

.down {
  opacity: 1;
  transform: scale(1);
  transition: all 0.25s;
}

.task-main input {
  width: 95%;
  padding: 5px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  background-color: white;
}


input::-webkit-input-placeholder {
  color: lightgray;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

.task-main button {
  margin-left: 2px;
  width: 36px;
  height: 36px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(197, 197, 197);
}

h2 {
  text-align: left;
}

.delete {
  color: lightgray;
  padding: 0 10px;
  cursor: pointer;
}

.check:hover,
.delete:hover,
.user-delete:hover {
  color: rgb(56, 56, 56);
  transition: all 0.4s;
}


.done {
  text-decoration: line-through;
  transition: all 0.5s;
}

.phone-book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center
}

.search input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 5px;
}

.user {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 106px;
}

.line {
  margin: 0 20px 0 0;
  width: 2px;
  height: 85px;
  background-color: #e4e4e4;
}

.user-information p {
  font-size: 12px;
  margin: 0;
  padding: 3px 0;
}

.user-information span {
  display: flex;
}

.user-information span p:nth-child(1) {
  margin-right: 15px;
}

h5 {
  margin: 0;
  font-weight: 600;
}

.user {
  margin: 0;
  padding: 15px;
  margin-bottom: 10px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  margin: 5px 0;
}

.user-list {
  margin-top: 20px;

}

.card-list {
  overflow-y: scroll;
  height: 650px;
}

.card-list::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

.card-list::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: rgb(138, 138, 138);
  /* 스크롤바의 색상 */
  border-radius: 10px;

}

.card-list::-webkit-scrollbar-track {
  background: rgba(138, 138, 138, 0.1);
  /*스크롤바 뒷 배경 색상*/
}

.user-menu {
  display: flex;
  justify-content: left;
}

.user-menu div {
  padding: 0 10px 5px 0;
  font-size: 15px;
}

.save {
  padding: 20px 15px 5px 15px;
}

.save>* {
  margin-bottom: 8px;
}

.save div input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 5px;
}

.save-but {
  display: flex;
  justify-content: right;

}

.save-but button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  background-color: black;
  color: white;
  width: 55px;
  margin: 10px 0px -5px 5px;
}

.user-header {
  display: flex;
  justify-content: space-between;
}

.heart {
  padding-right: 7px;
  font-size: 18px;
  color: #e4e4e4;
  transition: all 0.2s;
}

.important-task-check:hover,
.heart:hover{
  color: #be79e1;
  transition: all 0.4s;
}

.favorite {
  color: #be79e1;
  transition: all 0.4s;
}

.user-delete {
  font-size: 19px;
  color: #e4e4e4;
}

.important {
  width: 100%;
  height: 34.5%;
  padding: 22.5px 10px 15px 10px;
  background-color: #e4e4e4;
  border-radius: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.important-list{
  display: flex;
  align-items: center;
  width: 100%;
  height: 83%;
  border-radius: 8px;
}

.important-task{
  width: 100%;
  height: 95%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
}
.important-task h6{
  text-align: center;
  font-weight: 600;
}
.important-task-check{
  font-size: 25px;
  color: #e4e4e4;
}
.important-task-delete{
  position: relative;
  left: 108px;
}
